<%- include('partials/navigation.ejs') %>

<div class="jumbotron container">
<h1>About</h1>
<p>
    CineSense is a simple online movie database, which helps you find new movies, discover new info and find places to rent, buy or stream.
    Built as a university project demo for the course "Database Management Systems", Vellore Institute of Technology, Chennai.
    Developed by:
    <li>Kaustubh Debnath - 19BCE1445</li>
    <li>Sumit Prakash - 19BCE1731</li>
    <li>Manav Rabara - 19BCE1039</li>
</p>
<br>
<br>


<h2>Our tech stack</h2>
<br>

<div class= "row">
    <div class="col md-4">
        <img src="/images/htmlcssjs.png" class= "img-fluid stackicons1">
    </div>
    <div class="col md-2">
        <img src="/images/mongo.png" class= "img-fluid mongo">
    </div>
    <div class="col md-2">
        <img src="/images/node.png" class= "img-fluid mongo stackicons">
    </div>
</div>
<br>

<div class= "row">
    <div class="col md-4">
        <img src="/images/omdb.png" class= "img-fluid mongo">
    </div>
    <div class="col md-2">
        <img src="/images/utelly.png" class= "img-fluid utelly stackicons">
    </div>
    <div class="col md-6">
        <img src="/images/heroku.png" class= "img-fluid heroku">
    </div>

</div>
<br>
<br>
<br>
<p>You can fork this project in <a href="https://github.com/kdcloudy/CineSense"><i class="fab fa-github mr-1"></i>GitHub</a></p>


</div>