<%- include('partials/navigation.ejs') %>


<div class = "container">
	<div class = "jumbotron">
		<form id="searchForm" action='/results' method="GET" class="form-inline d-flex justify-content-center md-form form-sm">
			<input type="text" class="form-control form-control-sm mr-3 w-75" id="searchText" name="searchText" placeholder="Search Movies...">
			<i class="fas fa-search" aria-hidden="true"></i>
	</form>
		<div id="movies" class="row">
			<% data["Search"].forEach(function(movie){ %>
    		<div class="col-md-3">
    			<div class="thumbnail">
					<a href='/movie/<%= movie["imdbID"] %>' >
						<% var url = movie["Poster"] %>
						<% if(url=='N/A'){ %>
							<% url = 'https://lh3.googleusercontent.com/7ZVSaO1XKQe1-N6F6fQCMSQX1eveK8_e5MAN7lS9-NKkbKrcHNDK1zlaEmtn8s6AE1ZxtCrmzrNgqONp8CK1VYYLn_jcA9On-3qWSH751UyI5fJX4MHyzWLDeDhTLGhvkvnBWsQr0RJkaOg0eYq8Ncvn8_WHxJRp_mZmUrbLA9BMYpYVRCSFzg_iRQYMXb5xQ8ssfDMKlJ0pvAZ2VG8FTb1PGo4FdGEIYDHYuOn8xWxi4w1xViCeHD9nuuXcRf1IgTPWb0gx-SD1MGXjmClvNo_XwqmGCE7cwBCYh1a7HhuwLS0FcYlzvy4Bhsx6pZLJ8yHWieNlUjbzLbM2VTJnIbAEWCfmoj-tfnbTNMmMYEnJ-oALj377W2VplVTk0pZkt1OUERE4b1acScgLJLLzRzXjnlLANmbF14um0RdKEc92x__31jvqkxP9-rmxLnhlG_X19NuqOGy-jBExg0XxKqHcbZ-oJG6U4Kwdtag4aQ7DcQ-vQnDebHJEkKjYXMPLewiE1XDrU-1wxFt6p6H_TUnMTm3Rq1ZD7OuMRPJrJnLB9kr5SJgYUMFUiqS-ZUzBQ6RnbN3nrkAvln2uC9WD0eWa5JCfXhmOGtgrTNF2rU9KhuWdpHIxuG_fr3C8n9K1ydrkyIOyjjMq6GoN1UuEBkz_J1ZvLz1JEj2mqv2SvQ2YLIIBgpLOd-U2jnoHXA=w292-h437-no?authuser=1' %>
						<% } %>
					<img src='http://img.omdbapi.com/?i=<%=movie["imdbID"]%>&h=800&apikey=5b7a0834' onerror="this.src='<%=url%>';" class="img-fluid rounded rgba-red-light hoverable" alt=rounded">
					</a>
				</div>
             </div>
             <% }) %> 	
         </div>
	</div>
</div>

