<%- include('partials/navigation.ejs') %>


<div class = "container">
	<div class = "jumbotron">
		<form id="searchForm" action='/results' method="GET" class="form-inline d-flex justify-content-center md-form form-sm">
			<input type="text" class="form-control form-control-sm mr-3 w-75" id="searchText" name="searchText" placeholder="Search Movies...">
			<i class="fas fa-search" aria-hidden="true"></i>
	</form>
	<% if(data["Response"]=="False"){ %>
		<h1>No movie found, please try again. </h1>
		<% 	} else { %>
		<div id="movies" class="row">
			<% data["Search"].forEach(function(movie){ %>
    		<div class="col-md-3">
    			<div class="thumbnail">
					<a href='/movie/<%= movie["imdbID"] %>' >
						<% var url = movie["Poster"] %>
						<% if(url=='N/A'){ %>
							<% url = '/images/Notfound.png' %>
						<% } %>
					<img src='http://img.omdbapi.com/?i=<%=movie["imdbID"]%>&h=800&apikey=5b7a0834' onerror="this.src='<%=url%>';" class="img-fluid rounded rgba-red-light hoverable" alt=rounded">
					</a>
				</div>
             </div>
             <% }) %> 	
         </div>
	</div>
</div>
<% } %> 
