<%- include('partials/navigation.ejs') %>

<div class = "container">
<div class = "jumbotron">
<form id="searchForm" action='/results' method="GET" class="form-inline d-flex justify-content-center md-form form-sm">
        <input type="text" class="form-control form-control-sm mr-3 w-75" id="searchText" name="searchText" placeholder="Search Movies...">
        <i class="fas fa-search" aria-hidden="true"></i>
</form>
<br>
<br>
</div>
</div>
