.jumbotron
{
    background-color:#232A36;
    
    
}

.jumbotron h1
{
    color: white;
    font-weight: bold;
}

body
{
    background-color: #232A36;
    color: white;
    font-size: 18px;
}

.jumbotron h1
{
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-default
{
    opacity: 80% ;
    background-color: #171C24
    
}
.thumbnail{

    border: 0;
    background: transparent;
    
    }

 .input-group.md-form.form-sm.form-2 input.amber-border {
        border: 1px solid #ffca28;
  }

.moviebox{
    margin-top: 100px;
}

.poster{
    width: 340px;
}

.contents{
    padding-left: 100px
}